<section class="page">
  <div class="card form-card">
    <h1 class="form-title">כניסה</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-form-input
        label="שם משתמש או אימייל"
        autocomplete="username"
        formControlName="userNameOrEmail"
        errorText="שדה חובה"
      />

      <app-form-input
        label="סיסמה"
        type="password"
        autocomplete="current-password"
        formControlName="password"
        errorText="שדה חובה"
      />

      @if (authStore.error()) {
        <div class="error-message">
          {{ authStore.error() }}
        </div>
      }

      <div class="actions">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="authStore.isLoading()"
        >
          @if (authStore.isLoading()) {
            מתחבר...
          } @else {
            כניסה
          }
        </button>

        <a routerLink="/register">אין לך משתמש? הרשמה</a>
      </div>
    </form>
  </div>
</section>