<section class="page">
  @if (store.isLoading()) {
    <div class="card">
      טוען משתמשים...
    </div>
  } @else {
    @if (store.errorMessage()) {
      <div class="error-message">
        {{ store.errorMessage() }}
      </div>
    }
    <div class="card">
      @if (store.users().length === 0) {
        <div class="empty-state">
          לא נמצאו משתמשים להצגה
        </div>
      } @else {
        <div class="table-wrapper">
          <table class="data-table">
            <thead>
              <tr>
                <th>מספר משתמש</th>
                <th>שם משתמש</th>
                <th>אימייל</th>
                <th>הרשאות</th>
                <th>סטטוס</th>
                <th>פעולות</th>
              </tr>
            </thead>

            <tbody>
              @for (user of store.users(); track user.userId) {
                <tr>
                  <td>{{ user.userId }}</td>
                  <td>{{ user.userName }}</td>
                  <td>{{ user.email }}</td>
                  <td class="roles-cell">
  {{ store.getRolesText(user) }}
</td>
                 <td>
                    @if (user.isActive) {
                      <span class="status-badge status-active">
                        פעיל
                      </span>
                    } @else {
                      <span class="status-badge status-inactive">
                        לא פעיל
                      </span>
                    }
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="store.loginAsUser(user)"
                      [disabled]="store.isAdmin(user) || !user.isActive"
                    >
                      כניסה כמשתמש
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  }
</section>